<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.firdhan.wakkenenijsberen">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Bedoeld voor Facebook -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Splash screen -->
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Intro slider -->
        <activity
            android:name=".WelkomActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <!-- Main activity -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity android:name=".GameManager.GameLevel1"
            android:screenOrientation="portrait"/>
        <activity android:name=".HowToPlay"
            android:screenOrientation="portrait"/>
        <activity android:name=".Settings"
            android:screenOrientation="portrait"/>
        <activity android:name=".HighscoreActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".LevelPicker"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".LevelPassed"
            android:screenOrientation="portrait"/>
        <activity android:name=".GameManager.GameLevel2"
            android:screenOrientation="portrait"/>

        <!-- Sharing Photos and Videos on facebook -->
        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider141055453046668"
            android:exported="true" />

        <activity android:name=".GameManager.GameLevel3"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>